<h1>Shopping Basket</h1>

<div>
  <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
  <button class="btn btn-warning float-right" *ngIf="products.length > 0" (click)="clearList()">Clear Products</button>
</div>
<div class="card card-body bg-light" *ngIf="products.length == 0">
  <p><em>You currently have no items!</em></p>
</div>


<table class='table table-striped' *ngIf="products.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sales Excempt</th>
      <th>Imported</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index;">
      <td>{{ product.name }}</td>
      <td><input type="checkbox" [checked]="product.salesExcempt" disabled="disabled"></td>
      <td><input type="checkbox" [checked]="product.isImport" disabled="disabled"></td>
      <td>{{ product.cost | currency }}</td>
      <td>{{ product.quantity }}</td>
      <td><button class="btn btn-danger float-right" (click)="removeProduct(i)">Delete</button></td>
      <!--No icons in BS4-->
      <!--Editing rows would be a nice addition-->
    </tr>
  </tbody>
</table>

<div *ngIf="products.length > 0">  
  <button class="btn btn-success float-right" [routerLink]="['/receipt']">View Receipt</button>
</div>
