<h3 mat-dialog-title>New Product</h3>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Product Name">
  </mat-form-field>
  <span>
    <mat-checkbox formControlName="salesExcempt">Excempt from Sales Tax (Medical, Book or Food product)?</mat-checkbox>
  </span>
  <span>
    <mat-checkbox formControlName="isImport">Is Imported?</mat-checkbox>
  </span>
  <mat-form-field>
    <input matInput type="number" formControlName="cost" placeholder="Product Cost">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" formControlName="quantity" placeholder="Quantity">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="create()">Create</button>
  </div>
</mat-dialog-actions>

<!--<h3 mat-dialog-title>New Product</h3>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" required placeholder="Product Name">
  </mat-form-field>
  <span>
    <mat-checkbox [(ngModel)]="data.salesExcempt">Excempt from Sales Tax (Medical, Book or Food product)?</mat-checkbox>
  </span>
  <span>
    <mat-checkbox [(ngModel)]="data.isImport">Is Imported?</mat-checkbox>
  </span>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cost" required placeholder="Product Cost">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" [mat-dialog-close]="data">Create</button>
  </div>
</mat-dialog-actions>-->
