<div class="card card-body border-success">
  <h1>Receipt</h1>

  <div *ngIf="products.length == 0">
    <div class="card card-body bg-light" *ngIf="products.length == 0">
      <p><em>You currently have no items!</em></p>      
    </div>
  </div>

  <div *ngIf="products.length > 0">
    <p class="receipt-item" *ngFor="let product of products">
      {{product.quantity}} {{product.name}}: {{product.total | currency}}
    </p>
    <p>Sales Taxes: {{totalSalesTax | currency}}</p>
    <p>Total: {{grandTotal | currency}}</p>
  </div>
  <span>
    <button class="btn btn-danger float-right" [routerLink]="['/product-list']">Back to Shopping Basket</button>
  </span>
</div>
